.slyder {
  display: flex;
  width: 100%;
  height: 450px;
  background-color: black;
  overflow: hidden;
  box-shadow: 2px 2px 15px 2px gray;
  position: relative;
}
.glav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  
}
.slyderLine {
  display: flex;
  position: relative;
  left: 0px;
  height: 600px;
  transition: 0.7s;
}

.menyText {
height: 5vh;
display: flex;
justify-content: center;
font-size: 4vh;
margin-bottom: 1vh;
font-family: system-ui;
}


.img {

  width: 120%;
  min-height: 450px;
}

.arrow {
  margin-top: 20px;
  width: 1200px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.53);
  border: 1px solid gray;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: linear 0.4s;
  position: absolute;
  left: 40px;
  top: 45%;

}
.left:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.left:active {
  box-shadow: 0px 0px 5px 0.2px gray;
}
.leftIcon {
  width: 40px;
  height: 15px;
  border-radius: 20%;
}
.right {
  display: flex;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.53);
  border: 1px solid gray;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: linear 0.4s;
  position: absolute;
  right: 40px;
  top: 45%;
}
.right:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.right:active {
  box-shadow: 0px 0px 5px 0.2px gray;
}
.rightIcon {
  width: 40px;
  height: 15px;
  border-radius: 20%;
}

.infoCont {
  display: flex;
  flex-direction: column;

}
.rating {
  margin: 10px;
  font-family: system-ui;
}
.middlePrice {
  font-family: system-ui;
  margin: 10px;
}
.address {
  font-family: system-ui;
  margin: 10px;
}

.imgCont {
  display: flex;
  width: 480px;
  overflow: hidden;
  height: 450px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}


.menyCont {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  background-color:white;
  margin-bottom: 5vh;
  
}
.infoContText {
  display: flex;
  font-family: system-ui;
  
  

}

.menuImgCont {
  width: 300px;
  overflow: hidden;
  margin-left: 20px;
  height: 430px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 2%;
  box-shadow: 2px 2px 10px 2px rgb(170, 170, 170);
  transition: 0.3s;
 
}
.menuImgCont:hover {
  transform: scale(1.03);
  transition: 0.3s;
  box-shadow: 4px 4px 10px 2px rgb(170, 170, 170);
}

.menuImg {
  margin-top: 15%;
  width: 300px;
  height: 570px;

}

