.glav {
  box-sizing: border-box;
}
.main {
  padding: 3%;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: solid orange;
  margin: 0 auto;
}
.focus {
  margin: 3%;
  font-size: xx-large;
  color: gold;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.disfocus {
  margin: 3%;
  font-size: xx-large;
  color: black;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.reviewDiv {
  width: 80%;
}
.reviewText {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 300px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: larger;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 3%;
}
.img {
  width: 5%;
}
.plusMinus {
  margin-bottom: 2%;
  padding: 1%;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  display: flex;
  background-color: white;
  width: 80%;
  box-sizing: border-box;
}
.imputPlusMinus {
  width: 100%;
  font-size: large;
  height: 35px;
}
.plusMinusDiv {
  width: 100%;
}
.midle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 0 15px 15px 0;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
  transition: box-shadow 0.2s;
}
.btn:focus-visible {
  border: 1px solid #4c51f9;
  outline: none;
}
.btn:hover {
  transition: all 0.2s;
  box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
  background-color: #808080;
}
.btn:disabled {
  background-color: #eee;
  border-color: #eee;
  color: #444;
  cursor: not-allowed;
}
.title {
  font-size: x-large;
}
.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 8%;
}
.commentMain {
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  width: 80%;
  margin: 5% auto;
  flex-direction: column;
  background-color: white;
  border: solid orange 5px;
}
.commentHeader {
  box-shadow: 5px 2px 2px 2px gray;
  display: flex;
  margin-bottom: 2%;
}
.focusCom {
  margin: 3%;
  font-size: xx-large;
  color: gold;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.disfocusCom {
  margin: 3%;
  font-size: xx-large;
  color: black;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.starsCom {
  display: flex;
  justify-content: center;
  margin-left: 10%;
}
.logo {
  width: 70%;
  display: flex;
  align-items: center;
}
.imgCom {
  width: 20%;
}
.p {
  font-size: x-large;
}
.midleCom {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}
.imgPlusCom {
  width: 3%;
}
.plusMinusCom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}
.plusMinusText {
  font-size: large;
}
.textCom{
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
  color: #212529;
  flex-wrap: wrap;
}
.btnDiv{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 1%;
}
.hide{
  display: none;
}
.reverse{
  display: flex;
  flex-direction: column-reverse;
}
