.container {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  padding: 0 7%;
}

.info1 {
  border: 1px solid rgb(198, 211, 231);/*   new stile   = = = = = == */
  padding: 20px;
  width: 32%;
  text-align: center;
  padding-bottom: 40px;

}

.info2 {
  border: 2px solid rgb(198, 211, 231);/*   new stile   = = = = = == */
  width: 32%;
  padding: 20px;
  text-align: center;
  padding-bottom: 40px;

}

.info3 {
  border: 1px solid rgb(198, 211, 231);/*   new stile   = = = = = == */
  width: 32%;
  padding: 20px;
  text-align: center;
  padding-bottom: 40px;
}

h3 {
  text-align: center;
  color: rgb(239, 192, 104);/*   new stile   = = = = = == */
  margin-bottom: 10px;
  height: 50px;
}


/*   new stile   = = = = = == */
.general {
  background-color: rgb(15, 23, 36);
  color: rgb(198, 211, 231);

}
