.picture {
  width: 100%;
  height: 500px;
  background-image: url(https://img.freepik.com/premium-photo/bottle-wine-cheeses-traditional-sausages-wooden-background-brie-cheese-blue-cheese-gorgonzola-fuete-salami-free-space-text-top-view_187166-53840.jpg?w=1800);
  background-position: center;
  position: relative;
  -webkit-box-shadow: 0px -14px 45px 46px rgba(34, 60, 80, 0.39) inset;
  -moz-box-shadow: 0px -14px 45px 46px rgba(34, 60, 80, 0.39) inset;
  box-shadow: 0px -14px 45px 46px rgba(117, 81, 34, 0.39) inset;

}

@media screen and (max-width: 1100px) {
  .picture h1 {
    font-size: 24px;
    left: 30% !important;
  }
}


.picture h1 {
  color: rgb(223, 153, 23);
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 37%;
  left: 38%;
  font-family: Calibri;
}

.picture input {
  padding: 15px;
  font-size: 20px;
  width: 60%;
  position: absolute;
  top: 247px;
  left: 20%;
  border-radius: 100px;
  border: none;
  box-shadow: 5px 5px 15px 5px rgba(5, 5, 5, 0.362);
  outline-style: none;
  padding-left: 70px;
}

.picture img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 51%;
    left: 21%;
}