.head_container{
    height: 80px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.like_review{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 33%;
}
.like{
    cursor: pointer;
}
.like:active{
    color: aqua;
}
.like_active:active{
    color: aqua;
}
.like_active{
    cursor: pointer;
    color: red;
}
.feather{
    cursor: pointer;
}
.diner_name{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 560;
    font-family: "Montserrat", sans-serif;
}
.links{
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 33%;
}
.instagram{
    cursor: pointer;
}
.links span{
    font-size: 18px;
}

