.head_container{
    height: 80px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.like_review{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 33%;
}
.diner_name{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 560;
    font-family: "Montserrat", sans-serif;
}
.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 33%;
}

.like{
    font-size: 40px;    
}
.instagram{
    font-size: 40px;
}
.feather{
    font-size: 40px;
}
.like:active{
    color: red;
}
.instagram:active{
    color: red;
}
.feather:active{
    color: white;
}
