* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
/* .container {
  width: 100%;
  background-color: rgb(15, 23, 36);
  
} */

.container {
  width: 100%;
}
